ASL/.venv

ASL/1/wlasl-complete/videos

ASL/checkpoints

ASL/__pycache__

ASL/data_tensors

ASL/tensors_hand_crop

ASL/data_tensors_1000

*.mp4

*.pth

*.pt
ASL/training/__pycache__/train_modular.cpython-311.pyc
ASL/data_and_preprocess/__pycache__/dataset.cpython-311.pyc
ASL/model_and_config/__pycache__/config.cpython-311.pyc
ASL/model_and_config/__pycache__/models.cpython-311.pyc
